

h1 {
     font-family: "Roboto", sans-serif;
    color:black;
    margin: 20px 0px 300px 0px;
}

.pullquote {
    margin: 0px 0px 0px 20px;
    border-left: 8px solid black;
}
.quote {
    font-size:25px;
    line-height:1em;
    font-family: "Roboto", sans-serif;
    padding:0px 0px 0px 10px;
}

.name {
    padding:0px 0px 0px 10px;
}

#topper {
    background-color: dodgerblue;
}

@media (min-width:576px) {
    h1 {
        font-size:"80px"
    }
}

@media (min-width:768px) {
    h1 {
        font-size: 80px;
    }
}